
.layout-row{
    display: block;
}
.layout-row > h1{
    text-indent: 10px;
}
.layout-row > md-list{
    width: 100%;
    border-top: 1px solid #E0E0E0;
    padding: 0;
}
.md-raised.md-primary.add{
    float: left;
}
.md-raised.md-primary.del{
    float: right;
}
.layout-row > md-list .md-clickable{
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
    background: #F5F5F5;
}
.layout-row > md-list ._md-button-wrap:nth-child(even){
    background: #F1F1F1;
}
md-list-item > p:visited ,
md-list-item > p:focus ,
md-list-item > p:hover ,
md-list-item > p:active {
    background: transparent;
    border: 0px;
}