<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="myApp" ng-cloak>

        <md-toolbar layout="row" >
            <h1>Frontend Developer Test</h1>
        </md-toolbar>

        <div flex layout="row" class="" ng-controller="testCtrl as itemsTestCtrl" ng-init="itemsTestCtrl.getItems()">
            <md-list ui-sortable="itemsTestCtrl.sortableOptions" ng-model="itemsTestCtrl.items">

                <md-list-item ng-repeat="item in itemsTestCtrl.items">

                    <p>{{item.name}}</p>

                    <md-button class="md-secondary md-warn" ng-click="itemsTestCtrl.editItem($index, $event)">Edit</md-button>
                    <md-button class="md-secondary" ng-click="itemsTestCtrl.delItem($index, $event)">Delete</md-button>
                    <md-switch class="md-secondary" ng-model="item.checked"></md-switch>

                </md-list-item>

            </md-list>

            <md-button class="md-raised md-primary add" ng-click="itemsTestCtrl.addItem($event)">Add new item</md-button>
            <md-button class="md-raised md-primary del" ng-click="itemsTestCtrl.delItems($event)">Delete checked item</md-button>
        </div>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
        <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc.5/angular-material.min.js"></script>

        <script src="app/app.js"></script>
        <script src="app/config.js"></script>
        <script src="app/controller.js"></script>
    </body>
</html>